{% extends 'base.html' %}
{% block titre %}Grade{% endblock titre %}
{% block contenu %}
<h2>Fonction</h2>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, cum accusantium id iure assumenda esse minima dolorem, soluta quas ab earum ullam impedit blanditiis similique repellat at voluptates ex repudiandae?
Commodi, at numquam! Avoluptates soluta unde repellendus animi sapiente autem repellat expedita excepturi consequatur quam mollitia, ipsa veritatis molestias. Atque aliquam nisi enim minus iusto libero architecto illum!</p>
{% endblock contenu %}